---
layout: page
title: Hops of Data!
subtitle: Telling data stories through beer. Or vice versa. 
css: "/css/index.css"
meta-title: "EP"
meta-description: "Data, Beer, and Vis"
bigimg:
  - "/img/big-imgs/wbc_heatmap_us_medals.png " : "wbc Plot1"
  - "/img/big-imgs/wbc_lines_entries_standbys.png" : "wbc Plot2"
  - "/img/big-imgs/wbc_heatmap_entries.png" : "wbc Plot3"
  - "/img/big-imgs/wbc_heatmap_entries_sort_standbys.png" : "wbc Plot4"
  - "/img/big-imgs/saison_em.JPG" : "mmm..."
  - "/img/big-imgs/tij_user_ratings.png" : "ipa user preferences"
  - "/img/big-imgs/demolen_pllcoord.png" : "rookvuur pll coord"	
  - "/img/big-imgs/loc_knn2.png" : "naughty boy knn (55 IBU)"	
  - "/img/big-imgs/loc_knn3.png" : "naughty boy knn"	
  - "/img/big-imgs/tij_max_like.png" : "ipa mle grid"
  - "/img/big-imgs/style_stn.png" : "brwDB styles"
  - "/img/big-imgs/bs_score_key.pngg" : "brier saturation"
---

<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png" />

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <!--p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p-->
  
    <div class="post-entry">
      {{ post.content | truncatewords: 150 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
