<div class="sign-off">
  
  {% for item in page.tags limit:2 %}
    {{ item }}
  {% endfor %}
  
  {{page.tags[1]}},{{page.tags[0]}}
   
  {% if page.shortlink contains 'http' %}
    {% capture quickie %}{{ page.shortlink }}{% endcapture %}
    {% assign maxlength = 60 %}
    {% capture urltwitter %}https://twitter.com/intent/tweet?text={{ page.title | truncate: maxlength | rstrip}}&url={{ page.shortlink }}&via=endlesspint8&hashtags=datavis{% endcapture %}
  {% else %}
    {% assign maxlength = 40 %}
    {% capture urltwitter %}https://twitter.com/intent/tweet?text={{ page.title | truncate: maxlength | rstrip}}&url={{ site.url }}{{ page.url }}&via=endlesspint8&hashtags=datavis{% endcapture %}
  {% endif %}

  <h3>Not too shabby, right?</h3>
  
  <p>
    Agree or disagree, go ahead and drop me a <a href="mailto:endlesspint8@gmail.com?subject={{ page.title | replace: '&','and'}}">message</a> about <i><b>"{{ page.title }}"</b></i>, <a href="{{ urltwitter }}" target="_blank">tweet</a> about it, and/or sign up for the <a href="http://bit.ly/ep8nlw" target="_blank">newsletter</a> to receive advance notice of posted content, added site features and opportunities to make suggestions for future data-related beer pieces and miscellany.
  </p>
  
  <p>
    If you're feeling <i><b>extra generous</b></i> go ahead and show your appreciation by <a href="https://www.paypal.me/EndlessPint/5">supporting this work</a> for the cost of a pint. These pieces take more effort than I care to admit and with the amount of sneaking around I'm doing at the office to get them out it is only a matter of time before the "supplemental" in supplemental income is replaced by "sole source of".
  </p>

  <p>
    Drink well & stay curious, R.
  </p>

</div>
