<div class="sign-off">
  
  {% if page.tags.size >= 2 %}
    {% capture hashtags %}{{page.tags[0]}},{{page.tags[1]}}{% endcapture %}
  {% else %}
    {% capture hashtags %}dataviz,beer{% endcapture %}
  {% endif %}
  
  {% capture twitimg %}{{ page.twitimg | default:"pic.twitter.com/0TB3tAJOeV" }}{% endcapture %}
  
  {% if page.shortlink contains 'http' %}
    {% capture quickie %}{{ page.shortlink }}{% endcapture %}
    {% assign maxlength = 60 %}
    {% capture urltwitter %}https://twitter.com/intent/tweet?text={{ twitimg }} {{ page.title | truncate: maxlength | rstrip}}&url={{ page.shortlink }}&via=endlesspint8&hashtags={{ hashtags }}{% endcapture %}
  {% else %}
    {% assign maxlength = 40 %}
    {% capture urltwitter %}https://twitter.com/intent/tweet?text={{ twitimg }} {{ page.title | truncate: maxlength | rstrip}}&url={{ site.url }}{{ page.url }}&via=endlesspint8&hashtags={{ hashtags }}{% endcapture %}
  {% endif %}

  <h3>Show some love...</h3>
  
  <p>
    By dropping me a <a href="mailto:endlesspint8@gmail.com?subject={{ page.title | replace: '&','and'}}">message</a> about <i><b>"{{ page.title }}"</b></i>, <a href="{{ urltwitter }}" target="_blank">tweeting</a> about it, and/or signing up for the <a href="http://eepurl.com/cj8urH" target="_blank">newsletter</a> to receive advance notice of posted content, added site features and opportunities to make suggestions for future data-related beer pieces and miscellany.
  </p>
  
  <p>
    If you're feeling <i><b>extra generous</b></i> go ahead and show your appreciation by <a href="https://www.paypal.me/EndlessPint/5">supporting this work</a> for the cost of a pint. These pieces take more effort than I care to admit and with the amount of sneaking around I'm doing at the office to get them out it is only a matter of time before the "supplemental" in supplemental income is replaced by "sole source of".
  </p>

  <p>
    Drink well & stay curious, R.
  </p>

</div>
